<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../../css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <title>Izmeni zubara</title>
</head>
<body>
<div id="addForm" style="width:30%;">
    <form action="/dbManager/dentist/{{dentist.id}}/update" method="post">
        <div class="form-group">
            <label for="namesurname">Ime i prezime zubara</label>
            <input type="text" class="form-control" name="namesurname" value="{{dentist.namesurname}}"/>
        </div>
        <div class="form-group">
            <label for="phone">Telefon</label>
            <input type="text" class="form-control" name="phone" value="{{dentist.phone}}"/>
        </div>
        <div class="form-group">
            <label for="yearsOfWorking">Radni Staz</label>
            <input type="text" class="form-control" name="yearsOfWorking" value="{{dentist.yearsofworking}}"/>
        </div>
        <div class="form-group">
            <label for="yearsOfWorking">Termin</label>
            <input type="text" class="form-control" name="workingTime" value="{{dentist.workingtime}}"/>
        </div>
        <button type="submit" class="btn btn-primary">Izmeni zubara</button>
    </form>
</div>



</body>
</html>